body {
  font-family: "OpenSans", sans-serif;
  margin: 0px;
  padding-bottom: 40px;
  min-height: 100%;
}

.project-card {
  width: 100%;
  text-align: center;
  font-weight: lighter;
  margin: 5px;
}

.project-card img {
  width: 95%;
  height: 300px;
  backdrop-filter: blur(25px);
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0px 2px 2px grey;
}
.project-card img:hover {
  transform: scale(1.1);
  transition-duration: 1s;
}

.projectcard-title {
  padding-top: 5px;
  font-display: uppercase;
}

.projectcard-summary {
  font-size: smaller;
  font-weight: lighter;
  backdrop-filter: blur(15px);
  border-radius: 20%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
