.home-wrapper {
  display: flex;
  align-items: center;
  padding: 30px;
  border: 1px solid;
}

.home-welcome {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  align-items: center;
}

.website-detail {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  flex-direction: column;
}
