/* .home-wrapper {
  display: flex;
  align-items: center;
  padding: 30px;
}

.home-welcome {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
}

.website-detail {
  display: flex;
  flex-wrap: wrap;
  margin-right: 30px;
  padding: 10px;
  flex-direction: column;
} */

.home-welcome {
  display: flex;
  font-size: xxx-large;
  color: ghostwhite;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
}

.website-detail {
  display: flex;
  justify-content: center;
  font-weight: lighter;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  font-size: larger;
}
