.puns-wrapper {
  align-items: center;
  justify-content: space-between;
  font: var(--font-primary);
  font-weight: var(--regular);
  font-size: 14px;
  background-color: var(--color-secondary);
  padding: 10px;
  font-family: "Noticia Text", serif;
}

.row {
  display: flex;
  padding: 30px;
}

.post-label {
  padding: 10px;
}

.post-input {
  padding: 10px;
  align-items: center;
  justify-content: center;
  font-family: "Noticia Text", serif;
}

.primary-button {
  background-color: #c5e1a5;
  height: 1cm;
  border: none;
  font-weight: 500;
  font-size: 10pt;
  text-transform: uppercase;
}

.puns-post-wrapper {
  margin-left: 30px;
}
